/*
* @Author: Marte
* @Date:   2017-07-12 09:29:21
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-12 17:07:26
*/
*{margin: 0;padding: 0;}
img{border:0;}
ol, ul ,li{list-style: none;}
.w1000{width: 1000px;margin: 0 auto;}
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }




/*top*/
#top{
    margin-top: 30px;
    margin-bottom: 30px;
}
#top .top_logo{
    float: left;
    width: 74px;
    margin-right: 7px;
}
#top .top_rigth{
    float: right;
    position: relative;
    margin-top: 19px;
    z-index: 3;
}
/*top END*/

/*content*/
#content .con_l{
    float: left;
    width: 610px;
    height: 600px;
}
#content .con_l img{
    float: right;
}
#content .con_r{
    float: left;
    width: 367px;
    height: 600px;
    float: right;
    background: url(../images/login_icon_list.png) 0 -115px no-repeat;
    padding: 0 25px;
    box-sizing: border-box;
}
#content .lognul h2{
    color: #c41f3a;
    font-size: 22px;
    height: 38px;
    line-height: 38px;
    font-weight: bold;
    float: left;
}
#content .login_h2{
    text-align: right;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #8c8c8c;
}
#content .login_h2 a{
    color: #c41f3a;
    text-decoration: none;
}
#content .mc_txt{
    width: 300px;
    height: 40px;
    margin: 15px 0;
}
#content .mc_txt2{
    width: 165px;
    height: 40px;
    margin: 15px 0;

}
#content .mc_btn{
    width: 120px;
    height: 45px;
    margin: 15px 0;
    font-weight: 800;
    margin-left: 10px;
}
#content .mc_submit{
    display: block;
    width: 317px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    background-color: #94193f;
    text-align: center;
    font-size: 14px;
    font-family: "宋体";
    font-weight: bold;
    border-style: none;
    margin-top: 15px;
}

#content .mc_img{
    float: right;
    margin: 15px 0;
    margin-right: 40px;
}
/*content End*/

/*footer*/
#footer{
    text-align: center;
    font-size: 12px;
    color: #777;
}
#footer img{
    margin: 30px 0;
}
/*footer End*/

.login_r_fixed{
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -540px;
    z-index: 3;
    margin-top: -135px;
}
.login_ewm{
    position: absolute;
    top: -54px;
    right: 36px;
    display: none;
}
.login_r_fixed em{
    position: absolute;
    content: "";
    top: 42px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #f94736;
    display: none;
}
